In [19]:
import pandas as pd
from sklearn import linear_model
people=pd.read_csv(r"D:\loan.csv")
people.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [20]:
ohe_people=pd.get_dummies(people[["Gender"]])

In [21]:
ohe_people

     Gender_Female  Gender_Male
0            False         True
1            False         True
2            False         True
3            False         True
4            False         True
..             ...          ...
609           True        False
610          False         True
611          False         True
612          False         True
613           True        False

[614 rows x 2 columns]